<manifest package="com.wordpress.trusted827.mira"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.wordpress.trusted827.mira.CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.wordpress.trusted827.mira.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.wordpress.trusted827.mira.activity.RelativesActivity"
            android:label="Relatives"
            android:parentActivityName="com.wordpress.trusted827.mira.activity.MainActivity"/>
        <activity
            android:name="com.wordpress.trusted827.mira.activity.SharedLocationsActivity"
            android:label="Shared Locations"
            android:parentActivityName="com.wordpress.trusted827.mira.activity.MainActivity"/>
        <activity
            android:name="com.wordpress.trusted827.mira.activity.AddRelativeActivity"
            android:label="Add Relative"
            android:parentActivityName="com.wordpress.trusted827.mira.activity.RelativesActivity"/>
        <activity
            android:name="com.wordpress.trusted827.mira.activity.RelativeDetailActivity"
            android:label="Relative Detail"
            android:parentActivityName="com.wordpress.trusted827.mira.activity.RelativesActivity"/>

        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>
